/* CSS for Google Search Results  */
body {
    color: #545454;
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin: 0;
}
hr{
    margin: 0;
    border: 0 none;
    height: 1px;
    color: rgba(197, 194, 194, 0.3);
    background-color: rgba(187, 184, 184, 0.3);
}

h4 {
    color: #006621;
    font-size: 16px;
    font-weight: 300;
    margin: 5px 0;
}

h3 {
    margin: 20px 0  5px;
}

p {
    
    line-height: 1.6;
    margin: 0;
    word-wrap: break-word;
}

cite a{
    color: gray;
    text-decoration: none;
    margin: 5px 10px;
    font-size: 12px;
    float: right;
}

h3 a {
    color: #1a0dab;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
}

h3 a:hover{
    text-decoration: underline;
}

.header {
    display: inline-flex;
    max-width:100%;
    min-width: 1080px;
    width: 100%;
    height: 60px;
    margin: 5px 0;
    justify-content: space-between;
}

.header-bot{
    display: inline-flex;
    max-width:610px;
    min-width: 610px;
    width: 100%;
    height: 30px;
    margin: 5px auto 5px 150px;
    justify-content: space-between;
}
.navbar-foot{
    background-color: #f8f8f8;
    border-top: 1px solid #c6c6c6;
}

.footer{
    display: flex;
    max-width:100%;
    min-width: 1080px;
    width: 100%;
    height: 40px;
    margin: 0 auto 0 150px;
    justify-content: flex-start;
    align-items: center;
}

.left{
    display: flex;
    width: 450px;
    justify-content: space-around;
    align-items: center;
}

.right{
    display: flex;
    width: 100px;
    justify-content: space-around;
    align-items: center;
}

.fa-search {
    color: #4683ea;
    padding-top: 2px;
}

.container {
    width: 600px;
    margin-left: 150px;
}

.box{
    display: block;
    color: black;
    border: 1px solid #dfe1e5;
    border-radius: 10px;
    margin: 30px 0 0;
}

.box-div{
    display: flex;
    font-size: 16px;
    border-top: 1px solid #dfe1e5;
    padding: 10px 15px;
    justify-content: space-between;
}

.box-div a{
    color: black;
    text-decoration: none;
}
.box-div i{
    padding: 0 10px;
    color: #a1a1a1;
}

.box h2{
    font-weight: 400;
    margin: 10px 15px;
}

.header-bot a{
    /* vertical-align: middle; */
    font-size: 13px;
    text-decoration: none;
    color: #545454;
    /* padding-bottom: 15px;
    border-bottom: 2px solid blue; */
}
.navbar-foot p{
    padding: 0 5px;
}
.navbar-foot p i{
    color: #a1a1a1;
}
.navbar-foot a{
    color: #545454;
    text-decoration: none;
    padding: 0 10px;
}

.header-bot a:hover{
    color: #4683ea;
}

.navbar-foot a:hover{
    color: black;

}

#logo {
    display: flex;
    width: 92px;
    height: 30px;
    float: inline-start;
    margin: 23px 35px 15px 20px;
    /* margin: 15px 35px 15px 12px; */
    /* margin +8px */

}

#search-box {
    display: flex;
    border: 1px solid #dfe1e5;
    width: 612px;
    border-radius: 80px;
    padding: 12px;
    margin: 15px 0 7px;
    float: inline-end;
}

#google-search {
    width: 583px;
    border: none;
    background-color: white;
}

#btn-square-dots{
    color: #545454;
    background-color: white;
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 18px 11px 10px;
    margin: 10px 0;
}

#btn-sign-in{
    color: white;
    font-size: 15px;
    font-weight: 200;
    background-color: #1a73e8;
    border-radius: 5px;
    border: none;
    padding: 7px 27px;
    margin: 11px 10px;
}

#btn-tools{
    background-color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 4px 11px;
    margin-left: 10px;
}

#search-time {
    line-height: 40px;
}

#search-box:hover {
    box-shadow: 0 0 5px rgba(160, 160, 160, 0.5);
}
#btn-square-dots:hover {
    background-color: rgba(224, 224, 224, 0.3);
}

#btn-tools:hover {
    border: 1px solid #c6c6c6;
    background-color: #f8f8f8;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#btn-sign-in:hover {
    background-color: #2c7ce6;
    box-shadow: 0 0 2px rgba(34, 124, 226, 0.8);
}
